@media only screen and (max-width:768px){
    .player {
        max-width: 32px !important;
      }
}
html {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
  max-width: 600px;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
}
.main {
    max-width: 600px;
}
li {
  margin: 8px 0;
}
h1{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}
.column {
    text-align: center;
}
.column figure {
    margin:0 auto;
}
h2 {
    text-align: right;
    margin-bottom:15px;
}

del {
  color: rgba(0, 0, 0, 0.3);
}
img {
  width:44px;
  height:68px;
}
p {
  font-size:0.8rem;
}
.player {
  max-width: 64px;
  border-radius: 25px;
}
.balance {
    margin-bottom:20px;
    text-align: center;
}
.balance button{
    margin-bottom: 20px;
}
.your_team {
    text-align: center;
    border-radius: 20px;
}
.header {
    padding:10px;
    position: -webkit-sticky;
    position: sticky;
    top:2rem;
    z-index:9999;
    background-color:#fafafa;
}
.titulo {
    font-family: 'Graduate', cursive;
    font-size:2rem;
    font-weight: bold;
}